@charset "utf-8";


.box{
    overflow: hidden;
}
#js-question{
    border: 1px solid #ff0000;
}


.boxbox{
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

#first{
     border: 2px solid coral;

}
#second{
    border: 2px solid aqua;
}
#third{
    border: 2px solid blueviolet;
}
#forth{
    border: 2px solid chartreuse;
}